<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/bootstrap-4.4.1-dist/css/bootstrap.min.css">
    <title>记账本</title>
    <style>
        .h-50 {
            height: 50px;
        }
    </style>
</head>

<body>
    <div class="container">

        <div class="h-50"></div>
        <div class="alert alert-success" role="alert">
            <h1>:)<%= msg %>
            </h1>
            <p><a href="<%= url %>">点击跳转</a></p>
        </div>
    </div>

</body>

</html>